<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<title>Gabriel Asorey CV</title>

<!-- medium editor -->
<script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<!-- CSS link -->
<link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand">Gabriel Asorey</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active ">
              <a class="nav-link" href="{% url 'project_list' %}">Project List</a>
            </li>
            <li class="nav-item active ">
              <a class="nav-link" href="{% url 'resume' %}">Resume</a>
            </li>
            
            <li class="nav-item active ">
              
              <a class="nav-link"  href="https://www.linkedin.com/in/gabriel-asorey-45881156/"><i class="fab fa-linkedin-in fa-lg"></i></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="https://github.com/Gasorey"><i class="fab fa-github fa-lg" ></i></a>
                </a>
            </li>
          </ul>
          <ul class="navbar nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item active">
              <a class="nav-link" style="color: white;">Welcome: {{ user.username}}</a>
            </li>   
            <li class="nav-item active ">
              <a class="nav-link" href="{% url 'project_create' %}">New Project</a>
            </li>
            <li class="nav-item active ">
              <a class="nav-link" href="{% url 'draft_list' %}">Draft</a>
            </li>
            <li class="nav-item active ">
              <a class="nav-link" href="{% url 'Logout' %}">Logout</a>
            </li>
            
            {% else %}
            
            <li class="nav-item">
              <a href="{% url 'Login' %}" class="nav navbar-right"><i class="fas fa-user fa-lg " style="color: white;"></i></a>
            </li>
            
            
            {% endif %}
            
          </ul>    
              
        </div>
      </nav>
      <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <div class="Project_posts">
                        
                    </div>

                </div>
            </div>

      </div>
      
      {% block content%}
        
      {% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>