{% extends HTML_Base.html %}

{% Block content %}
<div class="jumbotron">
    <h2>Please LogIn:</h2>
    <h3>(Must be SuperUser)</h3>

    {%if form.errors %}
    <p>Your usernamer and password didn't match!, Try again.</p>
    {% endif %}

    <form action="{% url 'Login' %}" method="post">
        {% csrf_token %}

        {{form.as_p}}
        <input type="submit" class="btn btn-primary" value="Ok">
        <input type="hidden" name="next" value="{{next}}">


    </form>

</div>
{% endblock %}